html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

space {
    display: block;
    padding-bottom: 40%;
    padding-top: 40%;
    content: 'scroll';
    color: gray;
    font-size: 64px;
    text-align: center;

}

statement {
    display: block;
    padding: 8px;
    margin: 16px;
    margin-bottom: 64px;
    background-color: rgb(147, 255, 152);
    text-align: center;
    width: fit-content;

}




theorem {
    display: block;
    padding: 8px;
    background-color: rgb(255, 172, 172);
    text-align: center;
    width: fit-content;
}




.theoremCurrentlyProven {
    position: sticky;
    top: 0px;
    z-index: 10000;
}


theorem:hover {
    z-index: 1000000001;
}

hypothesis {
    display: block;
    padding: 8px;
    margin: 16px;
    margin-bottom: 64px;
    background-color: rgb(175, 238, 255);
    text-align: center;
    width: fit-content;

}

container {
    overflow-y: scroll;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
}

proof {
    display: flex;
    padding-left: 16px;
    margin-left:8px;
    border-left: 2px solid rgb(255, 172, 172);
    border-bottom: 2px solid rgb(255, 172, 172);
    margin-bottom: 32px;
    flex-direction: column;
    opacity: 1;
}




proof:before {
    margin-top: 16px;
    content: "Proof.";
    font-weight: bold;
}

proof:after {
    border:1px solid black;
    width:16px;
    height:16px;
}

.right {
    right: 0px;
    float: right;
}

explanation {
    display: block;
    margin: 16px;
    margin-left: 80px;
}

inventory {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px;
    margin: 0px;
    z-index: 100000;
    top: 0px;
    right:0px;
    overflow: visible;
    position:absolute;
}   

inventory statement,
inventory theorem {
    display: inline-block;
    margin: 4px;
}

.current {
    border: 4px solid black;
    background-color: rgb(33, 241, 43);
}


.cause {
    border: 2px solid black;
}



.newcommand {
    display: none;
}





.leader-line {
    z-index: 100000001;
}